#!/usr/bin/make -f

export DH_OPTIONS
export DH_GOPKG=github.com/SOSETH/send-pmg-report

%:
	dh $@ --buildsystem=golang --with=golang

override_dh_systemd_enable:
	dh_systemd_enable --no-enable send-pmg-report.timer send-pmg-report.service

override_dh_systemd_start:
	dh_systemd_start --no-start send-pmg-report.timer send-pmg-report.service
