[Unit]
Description=Manually send spam reports to users of this gateway

[Service]
ExecStart=/usr/bin/send-pmg-report -exec -config /etc/send-pmg-report.yaml
Type=oneshot
WorkingDirectory=/etc

[Install]
WantedBy=multi-user.target
